{% extends "application.html" %}

{% block html_attribs %} lang="pt-BR" {% endblock %}

{% block title %}Index{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>Descripstion</th>
            <th>Create at</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="align-middle">teste</td>
            <td class="align-middle">teste</td>
            <td class="align-middle">teste</td>
        </tr>
    </tbody>
</table>
{% endblock %}