{% extends "application.html" %}

{% block html_attribs %} lang pt_BR="BR"{% endblock %}

{% block title %}Index{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">


<div class="container">
    <div class="page-header">
        <h1 class="text-center text-primary">MenuHub</h1>
    </div>
    <form method="post" class="initial-form">
        <label for="email">e-mail:</label>
        <p><input type=text name=email id=email class="form-control">
            <label for="password">password:</label>
        <p><input type=password name=password id=password class="form-control">
        <p><input type=submit value=Login class="btn btn-primary">
            <input type="button" value=Register class="btn btn-primary" onclick="redirect()">
    </form>
</div>

<script>
    function redirect() {
        window.location.href = "{{url_for('register')}}";
    }
</script>
{% endblock %}